.settings-page {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  width: 100vw;
  background: #f8f8f8;
  padding-top: 1rem;
}

.settings-container {
  background-color: #90C3D4;
  border-radius: 1rem;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  width: 50rem;
  max-height: 60rem;
  padding: 2rem;
  overflow-y: auto;

  .error-holder {
    margin-bottom: 1.5rem;
  }

  input {
    width: 30rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-sizing: border-box;
    display: block;
    margin: 0 auto;

    &:disabled {
      background-color: white;
      font-weight: bold;
      color: #333;
    }
  }

  form {
    button.action {
      background: transparent;
      border-radius: .2rem;
      box-sizing: border-box;
      color: var(--color-black);
      cursor: pointer;
      height: 4rem;
      width: 15rem;
      font-weight: bold;
      position: relative;
      padding: 10px;
      margin-top: 2rem;
      text-decoration: none;
      text-transform: uppercase;
      background-color: rgb(255, 255, 255);

      > p {
        position: relative;
        z-index: 2;
      }

      &::before {
        box-sizing: border-box;
        border-radius: .2rem;
        content: '';
        height: 4rem;
        width: 0;
        position: absolute;
        right: -3px;
        top: -3px;
        transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
        z-index: 0;
      }

      &:hover {
        color: white;
        transition: .3s;

        &::before {
          left: -3px;
          right: auto;
          width: 15rem;
        }
      }

      &.save {
        border: solid 2px rgba(0, 0, 0, 0.5);
        background-color: white;
        display: block;
        margin: 2rem auto 0 auto;
        padding: 0.75rem 1rem;

        &::before {
          background: radial-gradient(circle at 0% 90%, grey, grey);
        }
      }
    }
  }
}

.settings-toast {
  position: absolute;
  bottom: 0.5rem;
  left: 50%;
  transform: translateX(-50%);
  background: #28a745;
  color: white;
  padding: 0.5rem 2.5rem;
  border-radius: 4px;
  text-align: center;
  white-space: nowrap;
}

.settings-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;

  .auth-title {
    font-weight: bold;
    color: #fff;
    text-align: center;
    flex: 1;
  }
}

.back-button,
.spacer {
  position: absolute;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-button {
  button {
    background: transparent;
  }
}

.spacer {
  background: white;
}

.settings-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;

  img {
    width: 8rem;
    height: auto;
  }
}

.info-text {
  color: #333;
  margin-bottom: 1.5rem;
  text-align: center;
  font-style: italic;
}