
// BUTTONS

.btn-contained {
  align-items: center;
  background-color: $color-primary;
  color: white;
  display: flex;
  font-weight: 500;
  height: 3.6rem;
  text-transform: uppercase;
  transition: all .3s ease-out;
  padding: 0 1.6rem;
  min-width: 6.4rem;
  width: auto;

  &.disabled {
    color: rgba(0, 0, 0, .5);
  }

  &:hover, &:focus {
    box-shadow: 0 1px 5px rgba(20, 0, 28, 0.25), 0 3px 4px rgba(228, 161, 255, 0.25), 0 2px 4px rgba(134, 0, 188, 0.25);
  }

  &:active {
    border-bottom: $color-primary-variant 6px solid;
  }
}

.btn-text {
  background-color: transparent;
  color: #000000;
  font-weight: 500;
  height: 3.6rem;
  text-transform: uppercase;
  transition: all .3s ease-out;
  padding: 0 1.6rem;
  min-width: 6.4rem;
  width: auto;

  &.disabled {
    color: rgba(0, 0, 0, .5);
  }

  &:hover, &:focus {
    background-color: $color-secondary;
  }

  &:active {
    border-bottom: $color-secondary-variant 6px solid;
  }
}

// ALIGNMENTS
.ml-sm {
  margin-left: .8rem;
}

// Icons

.material-icons {
  font-size: 1.8rem;
}