.container {
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 1000;
}

.popup {
  background: white;
  border-radius: 0.2rem;
  box-shadow: var(--shadow-leveled);
  box-sizing: border-box;
  display: block;
  padding: 2rem;
  padding-top: 8rem;
  position: relative;
  height: minmax(auto, 30vh);
  width: 50vw;

  .header {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: row;
    height: 2rem;
    width: calc(100% - 4rem);
    left: 0;
    top: 0;
    justify-items: flex-start;
    padding: 2rem;
    position: absolute;

    img {
      height: 100%;
      width: auto;
      margin-right: 1rem;
    }

    .closeBtn {
      background: transparent;
      color: var(--color-black);
      font-size: 2rem;
      height: 2rem;
      width: 2rem;
      padding: 0;
      top: 2rem;
      right: 2rem;
      position: absolute;
    }
  }

  .content {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}