// COLORS

$color-primary: #14001C;
$color-primary-variant: #B600FF;
$color-secondary: #DB80FF;
$color-secondary-variant: #78408E;

$color-background: #F0F0F0;
$color-white: #FFFFFF;

$color-error: #FF001F;
$color-green: #00FF57;
$color-inactive: #C9C5CA;

$size-xxs: 9px;
$size-xs: 18px;
$size-s: 27px;
$size-m: 36px;
$size-l: 48px;
$size-xl: 62px;
$size-xxl: 84px;


$text-h1: 64px 'Lato', sans-serif;
$text-h2: 300 48px 'Lato', sans-serif;
$text-h3: 300 36px 'Lato', sans-serif;
$text-h4: 300 uppercase 24px 'Lato', sans-serif;
$text-h5: 18px 'Lato', sans-serif;
$text-h6: uppercase 14px 'Lato', sans-serif;
$text-subtitle1: 14px 'Bodoni Moda', serif;
$text-subtitle2: 700 12px 'Lato', sans-serif;
$text-body1: 14px 'Bodoni Moda', serif;
$text-body2: 12px 'Lato', sans-serif;
$text-button: 700 12px uppercase 'Lato', sans-serif;
$text-caption: 10px 'Lato', sans-serif;
$text-overline: 700 8px uppercase 'Lato', sans-serif;