body, .root {
  font-family: -apple-system, BlinkMacSystemFont, 'Lato', sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
