
/* Sorter */

/* General styles */
.btn--main, .btn--secondary, .btn--third{
  border: 0;
  border-radius: .2rem;
  box-sizing: border-box;
  color: var(--color-black);
  cursor: pointer;
  height: 4rem;
  width:15rem;
  font-weight: bold;
  padding: 10px;
  position: absolute;
}
.btn--secondary

.btn--main > p,
.btn--secondary > p,
.btn--third > p{
  position: relative;
  z-index: 2;
  
}


.btn--main:hover,
.btn--secondary:hover,
.btn--third:hover {
  transition: .3s;
  
}

.btn--main::before,
.btn--secondary::before,
.btn--third::before {
  
  box-sizing: border-box;
  border-radius: .2rem;
  content: '';
  height: 4rem; 
  width: 0;
  position: absolute;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  z-index: 0;
  
}

.btn--main:hover::before,
.btn--secondary:hover::before,
.btn--third:hover::before {
  right: auto;
  width: 100%;
  
}


.btn--main {
  background: radial-gradient(circle at 10%, var(--color-secondary) );
  color: white;
  right: 0.5rem;
  width: 15rem;
  
  
}

.btn--main::before {
  background: rgb(129, 38, 15);
  opacity: .2;
  right: 0; top: 0;
}

.btn--main:hover::before {
  left: 0;
}

.btn--secondary {
  background: 0;
  border: solid 2px var(--color-secondary) !important;
  box-sizing: border-box;
  right: calc(4rem + 10rem + 2rem); /* right_finish_button + width_finish_button + whitespace */
  width: 15rem;
  overflow: hidden;

}

.btn--secondary:hover,
.btn--third:hover {
  color: white;
}


.btn--secondary::before,
.btn--third::before {
  background-color: var(--color-secondary);
  right: -2px; top: -2px;
}

.btn--secondary:hover::before,
.btn--third:hover::before {
  left: 0;
}
.btn--secondary span {
  position: relative;
  z-index: 2;
}
.finish-sorting-popup .btn-container {
  display: flex !important;
  justify-content: center !important;
  gap: 1rem !important;
  margin-top: 2rem !important;
}
.finish-sorting-popup .btn--main {
  margin-right: 1rem; 
}
.finish-sorting-popup .btn--main,
.finish-sorting-popup .btn--secondary {
  border: 0;
  border-radius: 0.2rem;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  height: 4rem;
  font-weight: bold;
  padding: 0 2rem;
  background: none; 
  position: relative; 
  right: auto;
  width: auto;
  height: 4rem;
  width:15rem;
  font-weight: bold;
  padding: 10px;
  margin-top: 3rem;
  
}


.finish-sorting-popup .btn--main {
  background-color: #9370DB; 
}

.finish-sorting-popup .btn--secondary {
  background-color: #A0522D; 
}







.btn--third {
  background: 0;
  border: solid 2px var(--color-secondary);
  box-sizing: border-box;
  right: calc(4rem + 10rem + 2rem + 15rem + 1rem); /* right_finish_button + width_finish_button + whitespace + secondary + whitespace */
  width: 15rem;
}
.btn--left {
  background: 0;
  border: solid 2px var(--color-secondary);
  box-sizing: border-box;
  color: var(--color-black);
  cursor: pointer;
  height: 4rem;
  font-weight: bold;
  padding: 10px;
  position: absolute;
  left: 0;
  width: 15rem;
  top: 50%;
  transform: translateY(-50%);
}

.btn--left:hover {
  color: white;
}

.btn--left::before {
  background-color: var(--color-secondary);
  border-radius: .2rem;
  content: '';
  height: 4rem;
  width: 0;
  position: absolute;
  right: -2px;
  top: -2px;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  z-index: 0;
}

.btn--left:hover::before {
  width: 100%;
  left: 0;
}
.btn--left > p {
  position: relative;
  z-index: 2;
}

/* Header */
.sorting-header {
  align-items: center;
  box-shadow: 0px 2px 6px rgb(168, 168, 168);
  display: flex;
  flex-direction: row;
  height: var(--height-header);
  justify-content: center;
  position: relative;
  z-index: 1;
}

header .left-buttons {
  left: 4rem;
  position: absolute;
}

header .left-buttons button.icon-button {
  background-color: transparent;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--color-black);
  border: none;
  height: 2rem; width: 2rem;
}

#logo {
  color: var(--color-black);
  font-family: 'Dancing Script', cursive;
  font-size: 2.5rem;
}

/* This panel splits the screen into two peices */
#main-panel {
  display: flex;
  flex-direction: row;
  height: calc(100% - var(--height-header));
  overflow: hidden;
}

ul#list {
  border-right: dashed 2px #707070;
  height: 100%;
  overflow: auto;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
}



/* The popup */


.popup-container {
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 30%);
  display: flex;
  height: 100vh; width: 100vw;
  justify-content: center;
  position: absolute;
  z-index: 1000;
}


.popup-container > .popup {
  display: flex;
  flex-direction: column;
  background: white;
  border-radius: 0.5rem;
  height: 65vh; width: 60vw;
  margin-top: 2rem;
  padding: 2rem;
  position: relative;


}
.instructions-content {
  flex: 1; /* Fill available space */
}

.popup-container > .popup > h1 {
  color: var(--color-black);
  font-size: 2rem;
  margin: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.popup-container > .popup > h3 {
  color: var(--color-black);
  font-size: 1.5rem;
  margin-top: 2rem;
    margin-bottom: 2rem; /* Change this line */

}

.popup-container > .popup > h1::first-letter {
  text-transform: capitalize;
}
.popup-container > .popup  > .btn-container {
  bottom: 0rem; right: 0rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: relative;
  width: 100%;
  gap: 1rem;
  margin-top: auto;
  padding-top: 1rem;
}

.popup-container > .popup > .btn-container > button {
  left: 0;right: 0;top: 0;
  position: relative;
  width: 15rem;
}


.popup-container > .popup > form > textarea {
  box-sizing: border-box;
  height: 40vh; width: 100%;
  margin-top: 0;
  resize: none;
}

.popup-container > .popup > form > .btn-container {
  bottom: 1rem; right: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: absolute;
  width: 100%;
  
}

.popup-container > .popup > form > .btn-container > button {
  left: 0;right: 0;top: 0;
  position: relative;
  width: 15rem;
 
}


.popup-container > .popup > form > .btn-container > button::first-letter {
  text-transform: capitalize;
}

.popup-container > .popup > form > .btn-container > button.submit {
  margin-left: 0rem;
}

.popup p {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;
}
.popup .btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem; 
}





/* This is the container of the Categories */
#board {
  width: 90%;
  align-items: flex-start;
  display: grid;
  font-size: 1.3rem;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 2rem;
  padding-right: 0 !important;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow-y:auto;
}

/* Card */

li.card {
  background-color: white;
  border: solid 1px #8b8b8b;
  border-radius: 1rem;
  box-shadow: 0 2px 2px rgb(226, 226, 226);
  cursor: move;
  display: flex;
  flex-direction: column;
  height: 7rem; width: 14rem;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 1rem;
  text-align: center;
}

li.card h4 {
  font-size: 1.5rem;
}

li.card.minimized {
  border-radius: 0;
  box-shadow: none;
  display: flex;
  flex-direction: row;
  height: auto; width: 20rem;
  margin-bottom: 10px;
  padding-left: 5px;
  position: relative;
  text-align: start;
  justify-content: flex-start;
}

li.card.minimized h4 {
  font-family: 'LatoWeb';
  font-size: 1.2rem;
}

li.card.minimized p {
  font-family: 'LatoWebLight';
  font-size: 1.2rem;
}

li.card.minimized .titles p {
  margin-top: .5rem;
}

li.card.minimized button.desc-btn {
  background-color: #BAA5FF;
  border: 0;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  height: 1.5rem; width: 1.5rem;
  margin-left: auto;
  position: relative;
  text-align: center;
}

li.card.minimized button.desc-btn::before {
  border-left: .5rem solid transparent;
  border-right: .5rem solid transparent;
  border-top: .5rem solid white;
  content: '';
  height: 0; width: 0;
  left: .29rem; top: .5rem;
  position: absolute;
}
/* Counting the number of cards in each category */
.card-count-footer {
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  text-align: right;
  color: grey;
  border-top: 3px solid #ddd;
  background-color: #fafafa;
}


/* Category */
.category {
  align-items: center;
  border: solid 2px #8b8b8b;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgb(0, 0, 0, 16%);
  display: flex;
  flex-direction: column;
  position: relative;
  width: 240px;
}

.category.max-height {
  height: min(25rem, auto);
}

.category.minimized {
  max-height: 25rem;
}

.category.minimized ul {
  /* Hide some content */
  overflow-x: hidden;
  overflow-y: auto;
}

.category.minimized .header button.minimize {
  transform: rotate(0);
}

.category .header {
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
  display: flex;
  padding: 0 2rem;
  width: 100%;
  
}

.category .header button.minimize {
  background: none;
  border: none;
  color: var(--color-black);
  cursor: pointer;
  height: auto; width: auto;
  margin-left: auto;
}

.category .header h3 {
  cursor: pointer;
  font-size: 1.5rem;
  margin: 1rem 0;
  text-decoration: underline;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 90%; 
  display: inline-block;
  vertical-align: middle;

}

.category .header h3::first-letter {
  text-transform: uppercase;
}

.category ul {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: 100%;
}

.category li {
  margin: 0;
}

.category .title-input {
  align-items: center;
  display: flex;
  height: 3rem;
  margin: .5rem;
  position: relative;
}

.category .title-input button {
  background: 0;
  border: 0;
  color: var(--color-black);
  cursor: pointer;
  height: 100%; width: 2rem;
  margin-left: .5rem;
}

.category .title-input input {
  border: solid 1px #707070;
  border-radius: 5px;
  height: 100%;
}

.category .drop-to-add {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  justify-content: center;
  height: 100%; width: 100%;
  left: 0; top: 0;
  opacity: .8;
  position: absolute;
  z-index: 10;
}

.category .drop-to-add img {
  height: auto; width: 50%;
}

/* This is shown when the user hovers a card to the board */
.category.drop-to-create {
  align-items: center;
  background: 0;
  border-style: dashed;
  box-shadow: none;
  display: flex;
  justify-content: center;
  height: 25rem;
  opacity: .8;
}

.category.drop-to-create img {
  height: auto; width: 50%;
  opacity: .7;
}

.category.drop-to-create p {
  font-size: 1.3rem;
}

/* Message (thanks, not found) screen */

.message-screen {
  align-items: center;
  background: white;
  display: flex;
  flex-direction: column;
  height: 100vh; width: 100vw;
  justify-content: center;
  left: 0; top: 0;
  overflow: hidden;
  position: absolute;
  z-index: 100;
}

.message-screen #logo {
  color: var(--color-black);
  cursor: pointer;
  text-decoration: none;
  top: 2rem;
  position: absolute;
}

.message-screen #logo a {
  color: var(--color-black);
  text-decoration: none;
}

.message-screen img {
  height: 50vh; width: auto;
  padding-bottom: 3rem;
}

.message-screen h2 {
  color: var(--color-black);
  font-size: 3rem;
}

.message-screen h3 {
  font-size: 1.2rem;
}

.message-screen h2::first-letter {
  text-transform: uppercase;
}

/* Onboarding screen */

.on-boarding-screen {
  height: 100vh; width: 100vw;
  left: 0; top:0;
  position: absolute;
  z-index: 100;
}

.on-boarding-screen::before {
  background-color: var(--color-black);
  content: '';
  height: 100vh; width: 100vw;
  left: 0; top:0;
  opacity: 0;
  position: absolute;
  z-index: 0;
}

.on-boarding-screen img {
  height: 40vh; width: auto;
}

.on-boarding-screen h2 {
  font-size: 3rem;
}

.on-boarding-screen .arrow {
  height: 10rem; width: auto;
}

.on-boarding-screen h3 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.on-boarding-screen p {
  font-size: 1.5rem;
  text-align: left;
  margin-bottom: 1rem;
  width: 30rem;
}

.on-boarding-screen .list-explainer {
  align-items: center;
  border: solid 2px var(--color-purple);
  background: var(--color-purple-white);
  border-radius: 1rem;
  display: flex;
  left: calc(var(--width-list) + 1rem); top: calc(var(--height-header) + 1rem);
  padding: 2rem;
  position: absolute;
}

.on-boarding-screen .finish-explainer {
  align-items: flex-end;
  border: solid 2px var(--color-purple);
  background: var(--color-purple-white);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  right: 2rem; top: calc(var(--height-header) + 1rem);
  padding: 2rem;
  position: absolute;
}

.Resizer {
  background: #000;
  opacity: 0.2;
  z-index: 1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
  background-clip: padding-box;
}

.Resizer:hover {
  -webkit-transition: all 2s ease;
  transition: all 2s ease;
}

.Resizer.horizontal {
  height: 11px;
  margin: -5px 0;
  border-top: 5px solid rgba(255, 255, 255, 0);
  border-bottom: 5px solid rgba(255, 255, 255, 0);
  cursor: row-resize;
  width: 100%;
}

.Resizer.horizontal:hover {
  border-top: 5px solid rgba(0, 0, 0, 0.5);
  border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
  width: 11px;
  margin: 0 -5px;
  border-left: 5x solid rgba(255, 255, 255, 0);
  border-right: 5px solid rgba(255, 255, 255, 0);
  cursor: col-resize;
}

.Resizer.vertical:hover {
  border-left: 5px solid rgba(0, 0, 0, 0.5);
  border-right: 5px solid rgba(0, 0, 0, 0.5);
}
.Resizer.disabled {
  cursor: not-allowed;
}
.Resizer.disabled:hover {
  border-color: transparent;
}

.split-pane{
  height: calc(100% - var(--height-header)) !important;
}

@keyframes slide-up {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.toast {
  animation-name: slide-up;
  animation-duration: .5s;
  animation-timing-function: ease-out;
  position: fixed;
  bottom: 30px;
  left: 50%;
  background-color: #333;
  color: #fff;
  padding: 20px 30px;
  border-radius: 12px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.toast.show {
  display: block;
  opacity: 1;
  transform: translateX(-50%) translateY(-10px); /* Add a slight upward animation */
}

.category .popup-container {
  align-items: center;
  background: rgba(0, 0, 0, .2);
  display: flex;
  height: 100vh; width: 100vw;
  justify-content: center;
  left: 0; top: 0;
  position: fixed;
  z-index: 1000;
}

.category .popup-container .popup {
  background: white;
  border-radius: .2rem;
  box-shadow: var(--shadow-leveled);
  box-sizing: border-box;
  display: block;
  padding: 2rem;
  padding-top: 5rem;
  position: relative;
  height: 10vw; width: 40vw;
}

.category .popup-container .popup .header {
  align-items: center;
  background-color: rgba(0, 0, 0, .05);
  display: flex;
  flex-direction: row;
  height: 2rem; width: calc(100% - 4rem);
  left: 0; top:0;
  justify-items: flex-start;
  padding: 2rem 2rem 2rem 2rem;
  position: absolute;
}

.category .popup-container .popup .content {
  align-items: center;
  display: flex;
  justify-content: center;
   font-size: 18px;
}



.confirm-btn, .cancel-btn {
    background-color: #B0561A;
    border: none;
    border-radius: 4px;
    padding: 10px 16px;
    cursor: pointer;
    margin-top: 5px;
    margin-right: 10px;
    min-width: 150px;
    white-space: nowrap;
    font-size: 14px;
    text-align: center;
    height: 4rem;
    width: 15rem;
}


.button-container {

   align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.copy {
  background: 0;
  /*background-image: url('./icons/copy.svg');*/
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
  height: 3rem; width: 3rem;
}
.share-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.share-container p {
  font-size: 3rem;
  margin-top: 1rem;
}

.share-container > button {
  border-radius: 1.2rem;
  height: 4rem;
  margin-right: 2rem;
}

.url-container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-left: 5rem;
}

.url-container input {
  margin: 0;
  margin-right: 1rem;
}

.url-container .url-small {
  font-size: 3rem;
}

.url-container a {
  border: none;
  font-family: 'LatoWeb', sans-serif;
  font-size: 3rem;
  height: auto; width: 30rem;
  margin-top: 1.5rem;
  margin-right: 2rem;
  outline: none;
  overflow: auto;
  resize: none;
  text-align: center;
}

.url-container button.copy {
  background: 0;
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
  height: 3rem; width: 3rem;
}