html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END OF RESET */

body, html {
  color: var(--color-black);
  font-family: "LatoWeb", sans-serif;
  font-size: 10px;
}

@media (min-width: 1921px) {
  html, body {
    font-size: 13px;
  }
}

:root {
  --color-black: #181818;

  --height-header: 60px;
  --width-list: 20rem;
}

ul {
  list-style: none;
}

.App {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* Header */
header {
  align-items: center;
  box-shadow: 0px 2px 6px rgb(168, 168, 168); 
  display: flex;
  flex-direction: row;
  height: var(--height-header);
  justify-content: center;
  position: relative;
  z-index: 1;
}

#logo {
  color: var(--color-black);
  font-family: 'Dancing Script', cursive;
  font-size: 2.5rem;
}

header button {
  background: radial-gradient(circle at 10%, #D1C3FF, #BAA5FF);
  border: 0;
  border-radius: 20px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
  position: absolute;
  right: 40px;
  width: 100px;
}

/* This panel splits the screen into two peices */
#main-panel {
  display: flex;
  flex-direction: row;
  height: calc(100% - var(--height-header));
  overflow: hidden;  
}

ul#list {
  border-right: dashed 2px #707070;
  height: 100%;
  overflow: auto;
  padding: 2rem;
  width: var(--width-list);
}

/* This is the container of the Categories */
#board {
  align-items: flex-start;
  display: grid;
  font-size: 1.3rem;
  grid-template-columns: repeat(3, 1fr);
  /* grid-template-rows: repeat(3, 1fr); */
  grid-auto-rows: max-content;
  gap: 10px;
  overflow-y: scroll;
  padding: 2rem;
  width: 100%;  
}

/* Card */
.card {
  background-color: white;
  border: solid 1px #8b8b8b;
  border-radius: 1rem;
  box-shadow: 0 2px 2px rgb(226, 226, 226);
  cursor: move;
  display: flex;
  flex-direction: column;
  height: 7rem; width: 14rem;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 1rem;
  text-align: center;
}

.card h4 {
  font-size: 1.5rem;
}

.card.minimized {
  border-radius: 0;
  box-shadow: none;
  display: flex;
  flex-direction: row;
  height: auto; width: 20rem;
  margin-bottom: 10px;
  padding-left: 5px;
  position: relative;
  text-align: start;
  justify-content: center;
}

.card.minimized h4 {
  font-family: 'LatoWebLight';
  font-size: 1.2rem;
}

.card.minimized .desc-container {
  margin-left: auto;
  flex-direction: row;
}

.card.minimized .desc-btn {
  background-color: #BAA5FF;
  border: 0;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  height: 1.5rem; width: 1.5rem;
  position: relative;
  text-align: center;
}

.card.minimized .desc-pop::after {
  content: '';
  height: 0; width: 0;
  border-top: 15px solid transparent;
  border-right: 15px solid #BAA5FF;
  border-bottom: 15px solid transparent;
  position: absolute;
  left: -17px; top: 0;
}

/* Category */
.category {
  align-items: center;
  border: solid 2px #8b8b8b;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgb(0, 0, 0, 16%);
  display: flex;
  flex-direction: column;
  max-height: 25rem;
  overflow-x: hidden;
  overflow-y: auto;
  padding: .5rem;
  position: relative;
  width: 240px;
}

.category.max-height {
  height: 25rem;
}

.category h3 {
  cursor: pointer;
  font-size: 1.5rem;
  margin: 1rem 0;
  text-decoration: underline;
}

.category h3::first-letter {
  text-transform: uppercase;
}

.category ul {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.category li {
  margin: 0;
}

.category .title-input {
  align-items: center;
  display: flex;
  height: 3rem;
  margin: .5rem;
  position: relative;
}

.category .title-input button {
  background: 0;
  background-image: url('./icons/verified.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
  height: 100%; width: 2rem;
  margin-left: .5rem;
}

.category .title-input input {
  border: solid 1px #707070;
  border-radius: 5px;
  height: 100%;
}

.category .drop-to-add {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  justify-content: center;
  height: 100%; width: 100%;
  left: 0; top: 0; 
  opacity: .8;
  position: absolute;
  z-index: 10;
}

.category .drop-to-add img {
  height: auto; width: 50%;
}

/* This is shown when the user hovers a card to the board */
.category.drop-to-create {
  align-items: center;
  background: 0;
  border-style: dashed;
  box-shadow: none;
  display: flex;
  justify-content: center;
  height: 25rem;
  opacity: .8;
}

.category.drop-to-create img {
  height: auto; width: 50%;
  opacity: .7;
} 

.category.drop-to-create p {
  font-size: 1.3rem;
}

/* Message (thanks, not found) screen */

.message-screen {
  align-items: center; 
  background: white;
  display: flex;
  flex-direction: column;
  height: 100vh; width: 100vw;
  justify-content: center;
  left: 0; top: 0;
  overflow: hidden;
  position: absolute;
  z-index: 100;
}

.message-screen img {
  height: 50vh; width: auto;
  padding-bottom: 3rem;
}

.message-screen h2 {
  color: var(--color-black);
  font-size: 3rem;
}

.message-screen h2::first-letter {
  text-transform: uppercase; 
}

/* Onboarding screen */

.on-boarding-screen {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh; width: 100vw;
  left: 0; top:0;
  position: absolute;
  justify-content: center;
  z-index: 100;
}

.on-boarding-screen img {
  height: 40vh; width: auto;
}

.on-boarding-screen h2 {
  font-size: 3rem;
}

.on-boarding-screen .arrow {
  height: 10rem; width: auto;
}

.on-boarding-screen p {
  font-size: 1.5rem;
  text-align: center;
  width: 30rem;
}

.on-boarding-screen .list-explainer {
  align-items: center;
  display: flex;
  left: var(--width-list); top: var(--height-header);
  padding: 2rem;
  position: absolute;
}

.on-boarding-screen .list-explainer .arrow {
  margin-right: 3rem;
  transform: rotate(90deg);
}

.on-boarding-screen .finish-explainer {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  right: 0; top: var(--height-header);
  padding: 2rem;
  position: absolute;
}

.on-boarding-screen .finish-explainer .arrow {
  margin-right: 2rem;
  transform: rotate(180deg);
}

.on-boarding-screen .finish-explainer p {
  text-align: right;
}