html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* END OF RESET */

body, html {
  color: var(--color-black);
  font-family: "LatoWeb", sans-serif;
  font-size: 10px;
}

@media (min-width: 1921px) {
  html, body {
    font-size: 13px;
  }
}

:root {
  --color-purple: #D1C3FF;
  --color-purple-white: rgb(242, 238, 253);
  --color-secondary: #B0561A;
  --color-black: #181818;

  --height-header: 60px;
  --width-list: 22rem;
}

ul {
  list-style: none;
}

.App {
  height: 100%;
  position: absolute;
  width: 100%;
}

/* General styles */
.btn--main, .btn--secondary {
  border: 0;
  border-radius: .2rem;
  box-sizing: border-box;
  color: var(--color-black);
  cursor: pointer;
  height: 4rem;
  font-weight: bold;
  padding: 10px;
  position: absolute;
}

.btn--main > p,
.btn--secondary > p {
  position: relative;
  z-index: 2;
}

.btn--main:hover,
.btn--secondary:hover {
  transition: .3s;
}

.btn--main::before,
.btn--secondary::before {
  box-sizing: border-box;
  border-radius: .2rem;
  content: '';
  height: 4rem; width: 0;
  position: absolute;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  z-index: 0;
}

.btn--main:hover::before,
.btn--secondary:hover::before {
  right: auto;
  width: 100%;
}

.btn--main {
  background: radial-gradient(circle at 10%, #D1C3FF, #BAA5FF);
  color: white;
  right: 4rem;
  width: 10rem;
}

.btn--main::before {
  background: black;
  opacity: .2;
  right: 0; top: 0;
}

.btn--main:hover::before {
  left: 0;
}

.btn--secondary {
  background: 0;
  border: solid 2px var(--color-secondary);
  box-sizing: border-box;
  right: calc(4rem + 10rem + 2rem); /* right_finish_button + width_finish_button + whitespace */
  width: 15rem;
}

.btn--secondary:hover {
  color: white;
}

.btn--secondary::before {
  background-color: var(--color-secondary);
  right: -2px; top: -2px;
}

.btn--secondary:hover::before {
  left: 0;
}

/* Header */
header {
  align-items: center;
  box-shadow: 0px 2px 6px rgb(168, 168, 168); 
  display: flex;
  flex-direction: row;
  height: var(--height-header);
  justify-content: center;
  position: relative;
  z-index: 1;
}

header .left-buttons {
  left: 4rem;
  position: absolute;
}

header .left-buttons button {
  background-color: transparent;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  color: var(--color-black);
  border: none;
  height: 2rem; width: 2rem;
}

header .left-buttons button.undo {
  background-image: url('./icons/undo.svg');
}

#logo {
  color: var(--color-black);
  font-family: 'Dancing Script', cursive;
  font-size: 2.5rem;
}

/* This panel splits the screen into two peices */
#main-panel {
  display: flex;
  flex-direction: row;
  height: calc(100% - var(--height-header));
  overflow: hidden;  
}

ul#list {
  border-right: dashed 2px #707070;
  height: 100%;
  overflow: auto;
  padding: 2rem;
  width: var(--width-list);
}

/* The popup */

.popup-container {
  align-items: flex-start;
  background-color: rgba(0, 0, 0, 30%);
  display: flex;
  height: 100vh; width: 100vw;
  justify-content: center;
  position: absolute;
  z-index: 1000;
}

.popup-container > .popup {
  background: white;
  border-radius: .2rem;
  height: 50vh; width: 50vw;
  margin-top: 2rem;
  padding: 2rem;
  position: relative;
}

.popup-container > .popup > h1 {
  color: var(--color-black);
  font-size: 2rem;
}

.popup-container > .popup > h1::first-letter {
  text-transform: capitalize;
}

.popup-container > .popup > form > textarea {
  box-sizing: border-box;
  height: 30vh; width: 100%;
  margin-top: 2rem;
  resize: none;
}

.popup-container > .popup > form > .btn-container {
  bottom: 2rem; right: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  position: absolute;
  width: 100%;
}

.popup-container > .popup > form > .btn-container > button {
  left: 0;right: 0;top: 0;
  position: relative;
  width: 10rem;
}

.popup-container > .popup > form > .btn-container > button::first-letter {
  text-transform: capitalize;
}

.popup-container > .popup > form > .btn-container > button.sumbit {
  margin-left: 2rem;
}

/* This is the container of the Categories */
#board {
  align-items: flex-start;
  display: grid;
  font-size: 1.3rem;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: max-content;
  gap: 10px;
  overflow-y: auto;
  padding: 2rem;
  width: 100%;  
}

/* Card */

li.card {
  background-color: white;
  border: solid 1px #8b8b8b;
  border-radius: 1rem;
  box-shadow: 0 2px 2px rgb(226, 226, 226);
  cursor: move;
  display: flex;
  flex-direction: column;
  height: 7rem; width: 14rem;
  justify-content: center;
  margin-bottom: 1rem;
  padding: 1rem;
  text-align: center;
}

li.card h4 {
  font-size: 1.5rem;
}

li.card.minimized {
  border-radius: 0;
  box-shadow: none;
  display: flex;
  flex-direction: row;
  height: auto; width: 20rem;
  margin-bottom: 10px;
  padding-left: 5px;
  position: relative;
  text-align: start;
  justify-content: flex-start;
}

li.card.minimized h4 {
  font-family: 'LatoWeb';
  font-size: 1.2rem;
}

li.card.minimized p {
  font-family: 'LatoWebLight';
  font-size: 1.2rem;
}

li.card.minimized .titles p {
  margin-top: .5rem;
}

li.card.minimized button.desc-btn {
  background-color: #BAA5FF;
  border: 0;
  border-radius: 50%;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  height: 1.5rem; width: 1.5rem;
  margin-left: auto;
  position: relative;
  text-align: center;
}

li.card.minimized button.desc-btn::before {
  border-left: .5rem solid transparent;
  border-right: .5rem solid transparent;
  border-top: .5rem solid white;
  content: '';
  height: 0; width: 0;
  left: .29rem; top: .5rem;
  position: absolute;
}

/* Category */
.category {
  align-items: center;
  border: solid 2px #8b8b8b;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgb(0, 0, 0, 16%);
  display: flex;
  flex-direction: column;
  max-height: 25rem;
  overflow-x: hidden;
  overflow-y: auto;
  padding: .5rem;
  position: relative;
  width: 240px;
}

.category.max-height {
  height: 25rem;
}

.category h3 {
  cursor: pointer;
  font-size: 1.5rem;
  margin: 1rem 0;
  text-decoration: underline;
}

.category h3::first-letter {
  text-transform: uppercase;
}

.category ul {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.category li {
  margin: 0;
}

.category .title-input {
  align-items: center;
  display: flex;
  height: 3rem;
  margin: .5rem;
  position: relative;
}

.category .title-input button {
  background: 0;
  background-image: url('./icons/verified.svg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border: 0;
  cursor: pointer;
  height: 100%; width: 2rem;
  margin-left: .5rem;
}

.category .title-input input {
  border: solid 1px #707070;
  border-radius: 5px;
  height: 100%;
}

.category .drop-to-add {
  align-items: center;
  background-color: white;
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
  justify-content: center;
  height: 100%; width: 100%;
  left: 0; top: 0; 
  opacity: .8;
  position: absolute;
  z-index: 10;
}

.category .drop-to-add img {
  height: auto; width: 50%;
}

/* This is shown when the user hovers a card to the board */
.category.drop-to-create {
  align-items: center;
  background: 0;
  border-style: dashed;
  box-shadow: none;
  display: flex;
  justify-content: center;
  height: 25rem;
  opacity: .8;
}

.category.drop-to-create img {
  height: auto; width: 50%;
  opacity: .7;
} 

.category.drop-to-create p {
  font-size: 1.3rem;
}

/* Message (thanks, not found) screen */

.message-screen {
  align-items: center; 
  background: white;
  display: flex;
  flex-direction: column;
  height: 100vh; width: 100vw;
  justify-content: center;
  left: 0; top: 0;
  overflow: hidden;
  position: absolute;
  z-index: 100;
}

.message-screen #logo {
  color: var(--color-black);
  cursor: pointer;
  text-decoration: none;
  top: 2rem;
  position: absolute;
}

.message-screen #logo a {
  color: var(--color-black);
  text-decoration: none;
}

.message-screen img {
  height: 50vh; width: auto;
  padding-bottom: 3rem;
}

.message-screen h2 {
  color: var(--color-black);
  font-size: 3rem;
}

.message-screen h3 {
  font-size: 1.2rem;
}

.message-screen h2::first-letter {
  text-transform: uppercase; 
}

/* Onboarding screen */

.on-boarding-screen {
  height: 100vh; width: 100vw;
  left: 0; top:0;
  position: absolute;
  z-index: 100;
}

.on-boarding-screen::before {
  background-color: var(--color-black);
  content: '';
  height: 100vh; width: 100vw;
  left: 0; top:0;
  opacity: 0;
  position: absolute;
  z-index: 0;
}

.on-boarding-screen img {
  height: 40vh; width: auto;
}

.on-boarding-screen h2 {
  font-size: 3rem;
}

.on-boarding-screen .arrow {
  height: 10rem; width: auto;
}

.on-boarding-screen h3 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.on-boarding-screen p {
  font-size: 1.5rem;
  text-align: left;
  margin-bottom: 1rem;
  width: 30rem;
}

.on-boarding-screen .list-explainer {
  align-items: center;
  border: solid 2px var(--color-purple);
  background: var(--color-purple-white);
  border-radius: 1rem;
  display: flex;
  left: calc(var(--width-list) + 2rem); top: calc(var(--height-header) + 1rem);
  padding: 2rem;
  position: absolute;
}

.on-boarding-screen .finish-explainer {
  align-items: flex-end;
  border: solid 2px var(--color-purple);
  background: var(--color-purple-white);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  right: 1rem; top: calc(var(--height-header) + 1rem);
  padding: 2rem;
  position: absolute;
}